@{
    Layout = "";
}
<table class="adminContent">
    <tr>
        <td>
            @T("Plugins.Advanced.PostData.Description1")
            <ul>
                <li>@T("Plugins.Advanced.PostData.Description2")</li>
                <li>@T("Plugins.Advanced.PostData.Description3", "http://www.yourStore.com/Plugins/Advanced.PostData/Remote/NopService.svc")</li>
                <li>@T("Plugins.Advanced.PostData.Description4", "http://www.yourStore.com/Plugins/Advanced.PostData/Remote/NopService.svc/mex")</li>
            </ul>
        </td>
    </tr>
</table>
