/* Put your custom css here */
.countdown_amount {display:block;font-size:44px;  padding-top:35px; line-height:0; font-family: 'Oswald', sans-serif; font-weight:300; color:#fff;}
.countdown_section {display:inline-block; width:100px; height:100px; margin:10px; border-radius: 50%; border:3px solid #fff;}